<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443883261881-32ku3qq9t5a19c40hnbvgv4pnd4loeb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443883261881-32ku3qq9t5a19c40hnbvgv4pnd4loeb3</string>
	<key>API_KEY</key>
	<string>AIzaSyBl_y1MhmzMsJRu9Tf90c0EU6_KO0zMHgU</string>
	<key>GCM_SENDER_ID</key>
	<string>443883261881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-75c3b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-75c3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443883261881:ios:8b7224006f04ef747db068</string>
</dict>
</plist>